#myFooter {
    background-color: #ff5260;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color:#c9ced6;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}
@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}
.nav-item{
margin-left: 20px;
padding: 20px;
}
.nav-item :hover{
    background-color:#b27db2;
    border-radius: 7.5%;
    color: white !important;
    
}
hr.style-two {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(121, 0, 105, 0.692), rgba(0, 0, 0, 0));
}
h1{
    font-family: 'Charm', cursive;
    text-align: center;
    font-size: 4rem !important;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
html {
    scroll-behavior: smooth;
  }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: transparent;
  color: black;
}

.fa-github {
  background: transparent;
  color: black;
}
.fa-twitter {
  background: transparent;
  color: black;
}

.fa-google {
  background: transparent;
  color: black;
}

.fa-linkedin {
  background: transparent;
  color: black;
}

.footer {
  position: vary;
  left: 0;
  bottom: 0;
  height: 8%;
  width: 100%;
  background-color: #814c81;
  color: white;
  text-align: center;
}

/* .media12{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-48%);

}
.f2{
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 50px;
    padding: 20px 2px;
    color: #ff5260;
    border-radius: 50%;
    transition: .5s;
} */

